* { 
  margin:0; 
  padding:0; 
  box-sizing:border-box; 
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

html {
  min-width: 350px;
  overflow: hidden;
  background: #0a0b0c;
}

.layer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

// headings

h1 {
	font-size: toRem(42);
	font-weight: 300;

	@media #{$for-phone} {
		font-size: toRem(28); 
	}
}

h2 {
	font-size: toRem(36);
	font-weight: 300;

	@media #{$for-phone} {
		font-size: toRem(24); 
	}
}

h3 {
	font-size: toRem(24);
	font-weight: 300;

	@media #{$for-phone} {
		font-size: toRem(22); 
	}
}

h4 {
	font-size: toRem(22);
	font-weight: normal;

	@media #{$for-phone} {
		font-size: toRem(20); 
	}
}

.button {
  outline: none;
  color: #76ffff;
  font-size: 13px;
  font-weight: 400;
  padding: 10px 15px;
  border: 1px solid #76ffff;
  background: transparent;
  cursor: pointer;
  margin: 5px;
  border-radius: 4px;
  text-transform: uppercase;
}

.button.fill {
  color: #ffffff;
  background: #2070E9;
  border: transparent;
}

.button.text {
  color: #ffffff;
  border: 1px transparent;
}

.link {
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}