* { 
  margin:0; 
  padding:0; 
  box-sizing:border-box; 
  font-family: 'Roboto Mono', monospace;
  color: #C5C6C7;
}

html {
  min-width: 350px;
  overflow: hidden;
  background-color: #0B0C10;
}

.layer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

h1 {
  font-size: 32px;
  font-weight: 400;
}

h2 {
  font-size: 24px;
  font-weight: 300;
}

h3 {
  font-size: 20px;
  font-weight: 200;
}

.button {
  outline: none;
  color: #76ffff;
  font-size: 13px;
  font-weight: 400;
  padding: 10px 15px;
  border: 1px solid #76ffff;
  background: transparent;
  cursor: pointer;
  margin: 5px;
  border-radius: 7px;
  text-transform: uppercase;
}

.button.fill {
  color: #102027;
  background: rgba(24, 255, 255, .8);
  border: transparent;
}

.button.text {
  color: #76ffff;
  border: 1px transparent;
}

.link {
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}
