/**
 * Default, top level styles
 */

* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  color: var(--text);
}

:root {
  --bg-main: #01091B;
  --bg-secondary: #0E071B;
  --text: #bfbfbf;
  --orange: #ff8000;
  --box-shadow: 0px 3px 15px rgba(0,0,0,0.7);
}

html {
  background-image: linear-gradient(rgba(13, 8, 23, 0.90), rgba(0, 12, 35, 0.90)), url('../../img/halloween/bg_2.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


h1 {
  font-family: 'Butcherman', cursive;
  font-size: 50px;
  color: var(--bg-main);
}

#main {
  max-width: 700px;
  margin: 0 auto;
  height: 100%;
}

/**
 * Navigation
 */

nav {
  display: flex;
  position: fixed;
  flex-direction: column;
  bottom: 20px;
  right: 20px;
  width: 100px;
  padding: 20px 5px 0px 0px;
}

.nav-title {
  text-orientation: upright;
  writing-mode: vertical-lr;
  letter-spacing: -30px;
}

.logo {
  width: 100%;
  height: auto;
}

.logo-main {
  margin-top: 20px;
}

.close-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.close-icon-hidden {
  display: none;
}

/**
 * Intro section
 */

.intro-section {
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 10%;
  height: 300px;
  width: 800px;
  padding: 20px;
  background: linear-gradient(rgba(13, 8, 23, 0.50), rgba(0, 12, 35, 0.90));
  border-radius: 20px;
  opacity: 100;
  transition: opacity .5s;
}

.intro-section-hidden {
  z-index: -999;
  transition: opacity .5s;
  opacity: 0;
}

.intro-title {
  font-size: 100px;
  color: var(--orange);
}

/** 
 * Background stuff
 */

.bg-svg {
  z-index: -1;
  position: fixed;
  right: 0;
  height: 100vh;
}

.bg-morph {
  z-index: -1;
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 100vw;
  transition: left 1.2s;
}

.bg-morph-to {
  left: 5vw;
  transition: left 1.2s;
}

/**
 * Main
 */

.main-content {
  z-index: 1;
  opacity: 100;
  transition: opacity .5s;
  transition-delay: .8s;
  padding-top: 15%;
}

.main-content-hidden {
  z-index: -1;
  opacity: 0; 
  transition: opacity .5s;
}

/**
 * Buttons
 */

.button {
  border-radius: 5px;
  background: transparent;
  color: var(--orange);
  font-size: 18px;
  padding: 8px 15px;
  cursor: pointer;
  border: 1px solid var(--orange);
  box-shadow: var(--box-shadow);
  transition: background .2s, color .2s;
}

.button-ink {
  border-radius: 5px;
  background: transparent;
  color: var(--orange);
  font-size: 18px;
  padding: 8px 15px;
  cursor: pointer;
  border: none;
  transition: background .2s, color .2s;
}

.button:hover {
  background: var(--orange);
  color: var(--bg-main);
  padding: 8px 15px;
  transition: background .2s, border .2s, color .2s;
}

.button:focus,
.button-ink:focus {
  outline: none;
}

#check-it-out {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/**
 * card styles
 */

.card {
  box-shadow: var(--box-shadow);
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(rgba(13, 8, 23), rgba(0, 12, 35));
  overflow: hidden;
  width: 100%;
}


/**
 * Announcement
 */
.announcement-content {
  width: 100%;
}

.announcement {
  margin-bottom: 20px;
  display: flex;
  background: rgba(13, 8, 23); 
}

.announcement-icon {
  width: 55px;
  margin: 0px 20px 0px 0px;
}

.button-container {
  padding: 10px 0px 0px 0px;
  text-align: right; 
}



/**
 * Information
 */

.info {
  width: 100%;
  margin-bottom: 20px;
}

.price {
  padding: 20px;
  border-bottom: 1px solid rgba(191, 191, 191, 0.2);
}

.amount {
  font-size: 20px;
  font-weight: bold;
  color: var(--orange);
}

.calendar {
  width: 85%;
}

/**
 * Schedule
 */

.schedule {
  background: linear-gradient(var(--bg-main), rgba(129, 65, 0, 0.5));
}

/**
 * Corn maze
 */

.corn-maze-title {
  color: var(--orange);
  font-size: 45px;
}

.corn-maze {
  position: absolute;
  top: 8%;
  max-width: 700px;
  opacity: 100;
  transition: opacity .5s;
  z-index: 1;
}

.corn-maze-hidden {
  opacity: 0;
  z-index: -1;
}

.corn-maze-photo-container {
  margin-top: 10px;
  height: 450px;
  width: 900px;
  max-width: 740px;
}

.corn-maze-photo {
  width: 100%;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.back-arrow-maze {
  color: var(--orange);
  line-height: 15px;
  cursor: pointer;
}

/**
 * link
 */

.cc_link {
  color: var(--bg-main);
  text-decoration: underline;
  font-size: 20px;
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 5px;
}


